# <file system> <mount point>   <type>  <options>       <dump>  <pass>
UUID=$uuid	/      		ext4	errors=remount-ro,discard,noatime	0	0
LABEL=log	/var/log	ext4	errors=remount-ro,discard,noatime	0	0
LABEL=swap	swap		swap	defaults				0	0
